:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: var(--grayish-blue);
    font-family: 'Poppins', sans-serif;
    background-color: var(--very-light-gray);
}

.container {
    margin: 2rem;
    text-align: center;
}

.text {
    margin-bottom: 4rem;
}

.text > p:first-child {
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.text > p:nth-child(2) {
    font-weight: 600;
    color: var(--very-dark-blue);
    font-size: 1.5rem;
    margin: 0;
}

.text > p:nth-child(3) {
    font-weight: 400;
    line-height: 1.5rem;
}

.card {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 0.4375rem;
    background-color: white;
    box-shadow: 0px 10px 10px 5px hsla(212, 86%, 64%, 0.1);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card img {
    width: 3.5rem;
    height: auto;
    align-self: flex-end;
    margin-top: auto;
}

.card > p:first-child {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--very-dark-blue);
    margin: 0;
}

.card > p:nth-child(2) {
    font-size: .8rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.supervisor {
    border-top: .4rem solid var(--cyan);
}

.team__builder {
    border-top: .4rem solid var(--red);
}

.karma {
    border-top: .4rem solid var(--orange);
}

.calculator {
    border-top: .4rem solid var(--blue);
}

/* DESKTOP */
@media (min-width: 56.25rem) { /*62.5rem for 1000px*/

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text {
        margin-bottom: 0;
    }

    .text > p:first-child {
        font-weight: lighter;
        font-size: 2.4rem;
        margin: 0;
        margin-bottom: .3rem;
        color: var(--very-dark-blue);
    }
    
    .text > p:nth-child(2) {
        font-weight: 600;
        color: var(--very-dark-blue);
        font-size: 2.4rem;
        margin: 0;
    }
    
    .text > p:nth-child(3) {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.5rem;
        width: 60%;
        margin: 1rem auto 4rem;
    }
    
    .card__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-flow: column;
        gap: 2rem;
        max-width: 78.125rem;
    }

    .card {
        width: 100%;
        min-height: 18rem;
    }

    .card img {
        width: 4.5rem;
    }

    .card > p:nth-child(2) {
        font-size: .9rem;
        /* line-height: 1.5rem; */
        /* margin-bottom: 2rem; */
    }

    .supervisor {
        grid-column: 1/2;
        grid-row: 1/3;
        margin:auto;
    }
    
    .team__builder {
        grid-column: 2/3;
        margin: 0;
    }
    
    .karma {
        grid-column: 2/3; 
        margin: 0;
    }
    
    .calculator {
        grid-column: 3/4;
        grid-row: 1/3;
        margin: auto;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}